body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #241d17;
  color: #E3D8CF;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0px;
  color: #C6A680;
}

h2 {
  text-align: center;
  font-size: 14px;
  color: #817056;
}
    
input[type="submit"], .action-button {
  font-size: 16px;
  background-color: #334e60;
  color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover, .action-button:hover {
  background-color: #007bff;
}

input[type="submit"]:disabled, .action-button:disabled {
  background-color: #031e30;
  color: #666;
  cursor: not-allowed;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #334e60;
  background: #aaa;
}

.icon {
  height: 16px;
  width: 16px;
}

.footer {
  text-align: right;
}

.tooltip {
  position: fixed;
  bottom: 3px;
  right: 7px;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 100px;
  background-color: #817056;
  color: #e3d8cf;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #817056;
}

