<!DOCTYPE html>
<html>
<head>
  <title>Photo Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css" integrity="sha512-za6IYQz7tR0pzniM/EAkgjV1gf1kWMlVJHBHavKIvsNoUMKWU99ZHzvL6lIobjiE2yKDAKMDSSmcMAxoiWgoWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div id="gallery">
    {% for file in files %}
      <img src="{{ url_for('serve_image', subdirectory=subdirectory, filename=file) }}" style="width:300px; height:auto" />
    {% endfor %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js" integrity="sha512-EC3CQ+2OkM+ZKsM1dbFAB6OGEPKRxi6EDRnZW9ys8LghQRAq6cXPUgXCCujmDrXdodGXX9bqaaCRtwj4h4wgSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const gallery = document.getElementById('gallery');
    const viewer = new Viewer(gallery);
  </script>
</body>
</html>
